# 문자열을 변수에 저장하기

In [1]:
hello1='Hello, world'
print(hello1)

Hello, world

<big> 문자열이 한 줄로 끝나지 않으면 3중 따움표를 사용한다 </big>

In [4]:
hello = '''Hello, world!
안녕하세요.
Python입니다.'''
print(hello)

Hello, world!
안녕하세요.
Python입니다.

In [5]:
print("Hello, 'Python'")

Hello, 'Python'

<big> 작은 따옴표 안에 큰 따옴표를 넣을 수 있고, 큰 따옴표 안에는 작은 따옴표를 넣을 수 있다.<br> 단, 작은 따옴표 안에 작은 따옴표를 넣거나 큰 따옴표 안에 큰 따옴표를 넣을 수는 없습니다
.</big>

<big> 여러 줄로 된 문자열은 작은 따옴표 안에 작은 따옴표와 큰 따옴표를 둘 다 넣을 수 있다.<br>
또한, 큰 따옴표 안에도 작은 따옴표와 큰 따옴표를 넣을 수 있다.</big>

In [7]:
single_quote = '''"안녕하세요."
'파이썬'입니다.'''
 
double_quote1 = """"Hello"
'Python'"""
 
double_quote2 = """Hello, 'Python'"""    # 한 줄로 작성
 
print(single_quote)
print(double_quote1)
print(double_quote2)

"안녕하세요."
'파이썬'입니다.
"Hello"
'Python'
Hello, 'Python'

In [8]:
 print('Hello, \'Python\'') #작은 따움표안에 따운표 추가 하는 방법 역슬래쉬

Hello, 'Python'

# 인덱스:  문자열도 인덱스를 써서 접근 할 수 있다

In [10]:
author="Kafka"
author[1]

'a'

In [17]:
for i in author:
    print(i)

K
a
f
k
a

In [20]:
s = 'hi'
print (s[1])          ## i
print (len(s))        ## 2
print (s + ' there')  ## hi there

i
2
hi there

In [22]:
pi = 3.14
##text = 'The value of pi is ' + pi      ## NO, does not work
text = 'The value of pi is '  + str(pi)  ## yes
print(text)

The value of pi is 3.14

<big> 문자열은 불변 </big>

In [24]:
ff = "F. Fitzgerald"
ff = "F. Scott Fitzgerald"
ff

'F. Scott Fitzgerald'

# 병합(Concatenation): 둘 이상의 문자열을 하나로 합칠 수 있다.

In [25]:
"cat"+"in"+"hat"

'catinhat'

In [26]:
"cat " + " in" + " the" + " hat"

'cat  in the hat'

In [27]:
"Sawyer"*3

'SawyerSawyerSawyer'

# 문자열 메소드

In [28]:
"We hold these truths...".upper()

'WE HOLD THESE TRUTHS...'

In [29]:

"SO IT GOES.".lower()

'so it goes.'

<big> format: format 메소드를 사용하여 새로운 문자열을 생성. 이 메서드는 문자열에서 중괄호 {}를 찾고,<br> 이 중괄호 들을 전달
    받은 매개 변수로 교체</big>

In [31]:
"William {}".format("Faulkner")

'William Faulkner'

In [33]:
auther ="William Faulkner"
year_born="1897"

"{} was born in {}".format(author, year_born)

'Kafka was born in 1897'

<big> format 메서드는 사용자가 입력한 내용을 조합해서 문자열을 만들 때 유용</big>

In [34]:
n1 = input("Enter a noun:")
v = input("Enter a verb:")
adj = input("Enter an adj:")
n2 = input("Enter a noun:")

r = """The {} {} the {} {}
    """.format(n1,
               v,
               adj,
               n2)

print(r)

Enter a noun:boy
Enter a verb:goes
Enter an adj:good
Enter a noun:girl
The boy goes the good girl

In [35]:
## split : split 메소드를 이용하여 문자열을 조각으로 분리 할 수 있다

In [36]:
"Hello.Yes".split(".")

['Hello', 'Yes']

In [37]:
## join : Join 메서드는 문자열과 문자열 사이에 원하는 문자를 끼워 넣을 때 사용

In [39]:
words=["one","two","three"] 
toge="".join(words)
toge

'onetwothree'

In [40]:
words = ["The",
         "fox",
         "jumped",
         "over",
         "the",
         "fence",
         "."]
one_string = " ".join(words)
one_string

'The fox jumped over the fence .'

In [41]:
words = ["The",
         "fox",
         "jumped",
         "over",
         "the",
         "fence",
         "."]
one_string = "".join(words)
one_string

'Thefoxjumpedoverthefence.'

## string: 문자열에서 앞뒤의 공백을 없앨 때 사용

In [43]:
s="     The     "
s=s.strip()
s

'The'

## replace, index

In [45]:
equ = "All animals are equal."
equ = equ.replace("a", "@")
print(equ)

All @nim@ls @re equ@l.

In [47]:
"animals".index("m")

3

In [48]:
"animals".index("z")

ValueError: substring not found

In [49]:
try:
    "animals".index(z)
except:
    print("Not found")

Not found

In [50]:
"Cat" in "Cat in the hat"

True

In [51]:
##줄바꿈

In [52]:
print("Line1\nline2\nline3")

Line1
line2
line3

In [53]:
## Slice

In [55]:
ivan = "In place of death there was light."
ivan[0:17]

'In place of death'

In [58]:
ivan[:8]

'In place'

In [59]:
ivan[:]

'In place of death there was light.'

In [62]:
# % operator
text = "%d little pigs come out or I'll %s and %s and %s" % (3, 'huff', 'puff', 'blow down')
text

"3 little pigs come out or I'll huff and puff and blow down"

In [63]:
## 문자열 포매팅

In [65]:
# 숫자 대입
"I eat %d apples." % 3

'I eat 3 apples.'

In [66]:
# 문자 대입
"I eat %s apples." % "five"

'I eat five apples.'

In [67]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

[문자열]("https://wikidocs.net/13")

In [72]:
#문자열 길이
s='abcde'
print('s의 길이는' +' '+ str(len(s))+'입니다')

s의 길이는 5입니다

In [73]:
# Exercise: str_example를 이용하여 각 문자와 대응하는 인덱스번호를 출력하는 프로그램을 작성하시오.

In [80]:
str_example='abcedfg hijk'

In [81]:
len(str_example)

12

a index number is 0
b index number is 1
c index number is 2
e index number is 3
d index number is 4
f index number is 5
g index number is 6
  index number is 7
h index number is 8
i index number is 9
j index number is 10
k index number is 11

# 당신의 이름과 나이를 묻고 프린트 하는 프로그램을 작성하시오.

In [77]:
name=input("Give me your name:")
print("My name is "+name)

Give me your name:min
My name is min

In [78]:
print(4*'test')

testtesttesttest